<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <appSettings>
    <add key="apiUrl" value="http://*:8087" />
    <add key="servicesDll" value="Jalasoft.Eva.Evaluations.Services.Impl.dll" />
    <add key="docsFolder" value="docs/" />
    <add key="dbConnection" value="mongodb://172.26.28.19:27017/eva" />
    <add key="evaCollection" value="Evaluations" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>  
</configuration>